ISPRODUCTION=False
APP_ENVIRONMENT=Production
DEBUG=True
SECRET_KEY='your-secret-key'

# Redis Config
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_TIMEOUT=30
BROKER_URL=redis://:@redis:6379/1
CELERY_RESULT_BACKEND=redis://:@redis:6379/1

# Database configuration for staging
DATABASE_NAME=your_database_name
DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_database_password
DATABASE_HOST=your_database_host
DATABASE_PORT=5432

BASE_DIR=/path/to/your/project

staticLocation=${BASE_DIR}/app-content/static
staticRootLocation=${BASE_DIR}/app-content/static_root
mediaRoot=${BASE_DIR}/app-content/media_root
templatesLocation=${BASE_DIR}/app-content/templates

MEDIA_URL=/media/

SUPERUSER_EMAIL=your_superuser_email
SUPERUSER_USERNAME=your_superuser_username
SUPERUSER_PASSWORD=your_superuser_password

SMTP_HOST=smtp.your-email-provider.com
SMTP_PORT=587
SMTP_USERNAME=your_smtp_username
SMTP_PASSWORD=your_smtp_password
SMTP_TLS=True